# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

# <font color='blue'>Capítulo 4</font>

## Exercícios 

Hora de praticar um pouco. Resolva as questões a seguir e consulte a documentação Python se necessário! 

A solução será apresentada no próximo capítulo.

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

Author: Data Science Academy

pandas    : 1.4.2
matplotlib: 3.4.3
numpy     : 1.22.3

In [3]:
# O dataset contém registros de corridas de táxi
df = pd.read_csv('dados/dataframe.csv', parse_dates = ['Data'], usecols = list(range(0,6)))

In [4]:
df.dtypes

Data          datetime64[ns]
Distancia            float64
Tempo                 object
Segundos             float64
Minutos              float64
Min_Por_Km           float64
dtype: object

In [5]:
df.sort_index(inplace = True)
df.sample(10)

         Data  Distancia    Tempo  Segundos    Minutos  Min_Por_Km
68 2015-12-13       5.30  0:43:36    2616.0  43.600000    8.226415
79 2015-12-30       3.15  0:22:10    1330.0  22.166667    7.037037
39 2015-09-28       1.50  0:11:18     678.0  11.300000    7.533333
34 2015-09-12       3.05  0:23:46    1426.0  23.766667    7.792350
28 2015-08-29       5.00  0:43:27    2607.0  43.450000    8.690000
50 2015-10-20       1.37  0:08:36     516.0   8.600000    6.277372
78 2015-12-26       5.20      NaN       NaN        NaN         NaN
14 2015-08-16       0.65      NaN       NaN        NaN         NaN
20 2015-08-21       1.37  0:09:24     564.0   9.400000    6.861314
70 2015-12-15       6.50  0:58:43    3523.0  58.716667    9.033333

In [6]:
# Exercício 1 - Qual o valor máximo da coluna Minutos?

In [7]:
# Exercício 2 - Qual o valor mínimo de distância acima de 2.0?

In [8]:
# Exercício 3 - Crie um plot com a frequência acumulada da coluna Distancia.

In [9]:
# Exercício 4 - Qual o dia da semana no índice de posição zero?

In [10]:
# Exercício 5 - Qual o dia da semana nos índices nas 5 primeiras posições?

In [11]:
# Exercício 6 - Extraia todos os dias da semana (em formato texto) e insira em uma nova coluna no dataframe df.

In [12]:
# Exercício 7 - Crie um gráfico de barras com o total da distância percorrida em cada dia da semana.

In [13]:
# Exercício 8 - Delete a coluna Tempo do dataframe df.

In [14]:
# Exercício 9 - Qual o total de corridas de taxi por dia da semana?

In [15]:
# Exercício 10 - Qual a média para cada uma das colunas por dia da semana?

## FIM