# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

## <font color='blue'>Lab 4</font>

### <font color='blue'>Manipulação de Dados com SparkSQL, PandaSQL, SQLAlchemy, PostgreSQL e Docker</font>

Leia os manuais em pdf no Capítulo 12 do curso.

![title](imagens/Lab4.png)

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.7

In [2]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
#!pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
#!pip install -q -U watermark

In [3]:
# https://pypi.org/project/findspark/
!pip install -q findspark

In [4]:
# Importa o findspark e inicializa
import findspark
findspark.init()

In [5]:
# https://pypi.org/project/psycopg2/
!pip install -q psycopg2

In [6]:
# https://pypi.org/project/psycopg2-binary/
!pip install -q psycopg2-binary

In [7]:
# https://www.sqlalchemy.org/
!pip install -q sqlalchemy

In [8]:
# https://pypi.org/project/pandasql/
!pip install -q pandasql

In [9]:
# Imports
import psycopg2
import pandasql
import sqlalchemy
import pandas as pd
from pandasql import sqldf
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from sqlalchemy import create_engine
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf

In [10]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

Author: Data Science Academy

pandas    : 1.3.4
psycopg2  : 2.9.3
pandasql  : 0.7.3
sqlalchemy: 1.4.22
findspark : 2.0.1

# Carregando os Dados com Pandas

In [11]:
# Carregando o dataset 1 com dados de nomes de jogadores
df1 = pd.read_csv("dados/dataset1.csv", index_col = False)

In [12]:
# Shape
df1.shape

(17588, 2)

In [13]:
# Tipos de dados
df1.dtypes

Name    object
url     object
dtype: object

In [14]:
# Visualiza as 5 primeiras linhas do dataframe
df1.head()

                Name                               url
0  Cristiano Ronaldo  /player/20801/cristiano-ronaldo/
1       Lionel Messi      /player/158023/lionel-messi/
2             Neymar            /player/190871/neymar/
3        Luis Suárez  /player/176580/luis-su%C3%A1rez/
4       Manuel Neuer      /player/167495/manuel-neuer/

In [15]:
# Carregando o dataset 2 com os dados de nomes de clubes de futebol
df2 = pd.read_csv("dados/dataset2.csv", index_col = False)

In [16]:
# Shape
df2.shape

(633, 2)

In [17]:
# Tipos de dados
df2.dtypes

Name    object
url     object
dtype: object

In [18]:
# Visualiza as 5 primeiras linhas do dataframe
df2.head()

             Name                       url
0       FC Bayern       /team/21/fc-bayern/
1     Real Madrid    /team/243/real-madrid/
2    FC Barcelona   /team/241/fc-barcelona/
3        Juventus        /team/45/juventus/
4  Manchester Utd  /team/11/manchester-utd/

In [19]:
# Carregando o dataset 3 com os dados de nomes seleções
df3 = pd.read_csv("dados/dataset3.csv", index_col = False)

In [20]:
# Shape
df3.shape

(47, 2)

In [21]:
# Tipos de dados
df3.dtypes

Name    object
url     object
dtype: object

In [22]:
# Visualiza as 5 primeiras linhas do dataframe
df3.head()

        Name                    url
0      Spain      /team/1362/spain/
1    Germany    /team/1337/germany/
2     Brazil     /team/1370/brazil/
3    Belgium    /team/1325/belgium/
4  Argentina  /team/1369/argentina/

In [23]:
# Carregando o dataset 4 estatísticas dos jogadores
df4 = pd.read_csv("dados/dataset4.csv", index_col = False)

In [24]:
# Shape
df4.shape

(17588, 53)

In [25]:
# Tipos de dados
df4.dtypes

Name                   object
Nationality            object
National_Position      object
National_Kit          float64
Club                   object
Club_Position          object
Club_Kit              float64
Club_Joining           object
Contract_Expiry       float64
Rating                  int64
Height                 object
Weight                 object
Preffered_Foot         object
Birth_Date             object
Age                     int64
Preffered_Position     object
Work_Rate              object
Weak_foot               int64
Skill_Moves             int64
Ball_Control            int64
Dribbling               int64
Marking                 int64
Sliding_Tackle          int64
Standing_Tackle         int64
Aggression              int64
Reactions               int64
Attacking_Position      int64
Interceptions           int64
Vision                  int64
Composure               int64
Crossing                int64
Short_Pass              int64
Long_Pass               int64
Acceleration            int64
Speed                   int64
Stamina                 int64
Strength                int64
Balance                 int64
Agility                 int64
Jumping                 int64
Heading                 int64
Shot_Power              int64
Finishing               int64
Long_Shots              int64
Curve                   int64
Freekick_Accuracy       int64
Penalties               int64
Volleys                 int64
GK_Positioning          int64
GK_Diving               int64
GK_Kicking              int64
GK_Handling             int64
GK_Reflexes             int64
dtype: object

In [26]:
# Visualiza as 5 primeiras linhas do dataframe
df4.head()

,Name,Nationality,National_Position,National_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,90,81,76,85,88,14,7,15,11,11
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,88,89,90,74,85,14,6,15,11,8
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,77,79,84,81,83,15,9,15,9,11
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,92,...,86,86,84,85,88,33,27,31,25,37
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,92,...,16,14,11,47,11,91,89,95,90,89

In [27]:
# Resumo estatístico das variáveis numéricas
df4.describe()

,National_Kit,Club_Kit,Contract_Expiry,Rating,Age,Weak_foot,Skill_Moves,Ball_Control,Dribbling,Marking,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
count,1075.000000,17587.000000,17587.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,...,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000
mean,12.219535,21.294536,2018.899414,66.166193,25.460314,2.934103,2.303161,57.972766,54.802877,44.230327,...,47.403173,47.181146,43.383443,49.165738,43.275586,16.609620,16.823061,16.458324,16.559814,16.901183
std,6.933187,19.163741,1.698787,7.083012,4.680217,0.655927,0.746156,16.834779,18.913857,21.561703,...,19.211887,18.464396,17.701903,15.871735,17.710839,17.139904,17.798052,16.600741,16.967256,18.034485
min,1.000000,1.000000,2017.000000,45.000000,17.000000,1.000000,1.000000,5.000000,4.000000,3.000000,...,4.000000,6.000000,4.000000,7.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,6.000000,9.000000,2017.000000,62.000000,22.000000,3.000000,2.000000,53.000000,47.000000,22.000000,...,32.000000,34.000000,31.000000,39.000000,30.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,12.000000,18.000000,2019.000000,66.000000,25.000000,3.000000,2.000000,63.000000,60.000000,48.000000,...,52.000000,48.000000,42.000000,50.000000,44.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,18.000000,27.000000,2020.000000,71.000000,29.000000,3.000000,3.000000,69.000000,68.000000,64.000000,...,63.000000,62.000000,57.000000,61.000000,57.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,36.000000,99.000000,2023.000000,94.000000,47.000000,5.000000,5.000000,95.000000,97.000000,92.000000,...,91.000000,92.000000,93.000000,96.000000,93.000000,91.000000,89.000000,95.000000,91.000000,90.000000

## Conectando ao SGBD PostgreSQL no Docker

In [28]:
# Cria a conexão
pgconn = psycopg2.connect(host = "localhost", user = "postgres", password = "dsa123")

In [29]:
# Abre um cursor
pgcursor = pgconn.cursor()

In [30]:
# Objeto cursor
pgcursor

In [31]:
# Define o nível de isolamento para executar queries SQL no SGBD
pgconn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

In [32]:
# Drop do banco de dados (se existir)
pgcursor.execute('DROP DATABASE IF EXISTS dbdsa')

In [33]:
# Cria o banco de dados no SGBD
pgcursor.execute('CREATE DATABASE dbdsa')

In [34]:
# Fecha a conexão
pgconn.close()

## Conectando ao Banco de Dados no SGBD PostgreSQL no Docker

In [35]:
# Cria a conexão
pgconn = psycopg2.connect(host = "localhost", database = "dbdsa", user = "postgres", password = "dsa123")

## Criando Engine SQLAlchemy de Conexão ao PostgreSQL no Docker

In [36]:
# Cria o engine SQLAlchemy
engine = create_engine('postgresql+psycopg2://postgres:dsa123@localhost/dbdsa')

## Carregando Dados de Dataframes do Pandas no Banco de Dados PostgreSQL

In [37]:
# Agora usaremos o método to_sql() para salvar o primeiro dataframe do Pandas na tabela do PostgreSQL
# Se a tabela já existir será sobrescrita
df1.to_sql('tabela_df1', engine, if_exists = 'replace', index = False)

In [38]:
# Salvando o dataframe na tabela do PostgreSQL 
# Se a tabela já existir será sobrescrita
df2.to_sql('tabela_df2', engine, if_exists = 'replace', index = False)

In [39]:
# Salvando o dataframe na tabela do PostgreSQL 
# Se a tabela já existir será sobrescrita
df3.to_sql('tabela_df3', engine, if_exists = 'replace', index = False)

In [40]:
# Salvando o dataframe na tabela do PostgreSQL 
# Se a tabela já existir será sobrescrita
df4.to_sql('tabela_df4', engine, if_exists = 'replace', index = False)

> Instale o pgAdmin para acessar diretamente o banco de dados no PostgreSQL.

## Carregando Dados do PostgreSQL em Dataframes do Pandas com PandaSQL

In [41]:
# Verificando o número de linhas de uma das tabelas
pd.read_sql_query('select count(*) from tabela_df2', engine)

   count
0    633

In [42]:
# Query de consulta aos metadados para obter detalhes de uma tabela
pd.read_sql_query('''select ordinal_position, column_name, data_type  
                     from information_schema.columns 
                     where table_name = 'tabela_df4'
                     ''', 
                  engine).head(10)

   ordinal_position        column_name data_type
0                53        GK_Reflexes    bigint
1                41            Heading    bigint
2                42         Shot_Power    bigint
3                43          Finishing    bigint
4                44         Long_Shots    bigint
5                45              Curve    bigint
6                46  Freekick_Accuracy    bigint
7                47          Penalties    bigint
8                48            Volleys    bigint
9                49     GK_Positioning    bigint

In [43]:
# Carrega todos os dados de uma tabela no PostgreSQL em um dataframe do Pandas
df_tabela_df4 = pd.read_sql('select * from tabela_df4', engine)

In [44]:
df_tabela_df4.shape

(17588, 53)

In [45]:
df_tabela_df4.head()

,Name,Nationality,National_Position,National_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,90,81,76,85,88,14,7,15,11,11
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,88,89,90,74,85,14,6,15,11,8
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,77,79,84,81,83,15,9,15,9,11
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,92,...,86,86,84,85,88,33,27,31,25,37
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,92,...,16,14,11,47,11,91,89,95,90,89

In [46]:
# Carrega somente os dados das colunas indicadas
select_df = pd.read_sql('tabela_df4', engine, columns = ['Name', 'Age' ,'Speed', 'Height', 'Weight'])

In [47]:
select_df.shape

(17588, 5)

In [48]:
select_df.head()

                Name  Age  Speed  Height Weight
0  Cristiano Ronaldo   32     92  185 cm  80 kg
1       Lionel Messi   29     87  170 cm  72 kg
2             Neymar   25     90  174 cm  68 kg
3        Luis Suárez   30     77  182 cm  85 kg
4       Manuel Neuer   31     61  193 cm  92 kg

> Agora usaremos o sqldf para aplicar SQL em dataframes do Pandas. A função sqldf é do pacote PandaSQL.

In [49]:
# Função lambda com sqldf
pysqldf = lambda q: sqldf(q, globals())

In [50]:
type(pysqldf)

function

In [51]:
# Query
query = 'SELECT * FROM select_df LIMIT 5'

In [52]:
type(query)

str

In [53]:
# Aplica a função
pysqldf(query)

                Name  Age  Speed  Height Weight
0  Cristiano Ronaldo   32     92  185 cm  80 kg
1       Lionel Messi   29     87  170 cm  72 kg
2             Neymar   25     90  174 cm  68 kg
3        Luis Suárez   30     77  182 cm  85 kg
4       Manuel Neuer   31     61  193 cm  92 kg

In [54]:
# Executa a função e grava o resultado em um dataframe do Pandas
df_sqldf_1 = pysqldf(query)

In [55]:
type(df_sqldf_1)

pandas.core.frame.DataFrame

In [56]:
df_sqldf_1.head()

                Name  Age  Speed  Height Weight
0  Cristiano Ronaldo   32     92  185 cm  80 kg
1       Lionel Messi   29     87  170 cm  72 kg
2             Neymar   25     90  174 cm  68 kg
3        Luis Suárez   30     77  182 cm  85 kg
4       Manuel Neuer   31     61  193 cm  92 kg

In [57]:
# Query
query = 'SELECT Age, AVG("Speed") AS mean_Speed FROM select_df GROUP BY Age LIMIT 10'

In [58]:
# Aplica a função
pysqldf(query)

   Age  mean_Speed
0   17   62.280255
1   18   63.440901
2   19   64.053785
3   20   65.536424
4   21   66.754181
5   22   67.621980
6   23   68.194690
7   24   68.244599
8   25   68.352453
9   26   68.457741

In [59]:
# Executa a função e grava o resultado em um dataframe do Pandas
df_sqldf_2 = pysqldf(query)

In [60]:
df_sqldf_2.head()

   Age  mean_Speed
0   17   62.280255
1   18   63.440901
2   19   64.053785
3   20   65.536424
4   21   66.754181

## Carregando Dados do PostgreSQL em Dataframes do Apache Spark

In [61]:
# Cria a sessão
spark = SparkSession.builder.master('local').appName('Lab4').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/07/26 14:01:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [62]:
# Carrega os dados do PostgreSQL em um dataframe do Pandas
df = pd.read_sql('select * from tabela_df1', engine)

In [63]:
type(df)

pandas.core.frame.DataFrame

In [64]:
df.head()

                Name                               url
0  Cristiano Ronaldo  /player/20801/cristiano-ronaldo/
1       Lionel Messi      /player/158023/lionel-messi/
2             Neymar            /player/190871/neymar/
3        Luis Suárez  /player/176580/luis-su%C3%A1rez/
4       Manuel Neuer      /player/167495/manuel-neuer/

In [65]:
# Converte Dataframe do Pandas em Dataframe do Spark
df_spark = spark.createDataFrame(df)

In [66]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- url: string (nullable = true)

In [67]:
df_spark.schema

StructType([StructField('Name', StringType(), True), StructField('url', StringType(), True)])

In [68]:
df_spark.show()

+------------------+--------------------+
|              Name|                 url|
+------------------+--------------------+
| Cristiano Ronaldo|/player/20801/cri...|
|      Lionel Messi|/player/158023/li...|
|            Neymar|/player/190871/ne...|
|       Luis Suárez|/player/176580/lu...|
|      Manuel Neuer|/player/167495/ma...|
|            De Gea|/player/193080/de...|
|Robert Lewandowski|/player/188545/ro...|
|       Gareth Bale|/player/173731/ga...|
|Zlatan Ibrahimović|/player/41236/zla...|
|  Thibaut Courtois|/player/192119/th...|
|    Jérôme Boateng|/player/183907/j%...|
|       Eden Hazard|/player/183277/ed...|
|       Luka Modrić|/player/177003/lu...|
|        Mesut Özil|/player/176635/me...|
|   Gonzalo Higuaín|/player/167664/go...|
|      Thiago Silva|/player/164240/th...|
|      Sergio Ramos|/player/155862/se...|
|     Sergio Agüero|/player/153079/se...|
|        Paul Pogba|/player/195864/pa...|
| Antoine Griezmann|/player/194765/an...|
+------------------+--------------------+
only showing top 20 rows

In [69]:
df_spark.describe('Name').show()

+-------+----------------+
|summary|            Name|
+-------+----------------+
|  count|           17588|
|   mean|            null|
| stddev|            null|
|    min|  A.J. DeLaGarza|
|    max|Željko Filipović|
+-------+----------------+

In [70]:
df_spark.describe('url').show()

+-------+--------------------+
|summary|                 url|
+-------+--------------------+
|  count|               17588|
|   mean|                null|
| stddev|                null|
|    min|/player/100557/br...|
|    max|/player/9833/died...|
+-------+--------------------+

## Apache SparkSQL Para Manipulação de Dados

In [71]:
# Carregando a tabela
df_1 = pd.read_sql('select * from tabela_df4', engine)

In [72]:
# Convertendo o dataaframe Pandas em dataframe Spark
df_1_spark = spark.createDataFrame(df_1)

In [73]:
df_1_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- National_Position: string (nullable = true)
 |-- National_Kit: double (nullable = true)
 |-- Club: string (nullable = true)
 |-- Club_Position: string (nullable = true)
 |-- Club_Kit: double (nullable = true)
 |-- Club_Joining: string (nullable = true)
 |-- Contract_Expiry: double (nullable = true)
 |-- Rating: long (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Preffered_Foot: string (nullable = true)
 |-- Birth_Date: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Preffered_Position: string (nullable = true)
 |-- Work_Rate: string (nullable = true)
 |-- Weak_foot: long (nullable = true)
 |-- Skill_Moves: long (nullable = true)
 |-- Ball_Control: long (nullable = true)
 |-- Dribbling: long (nullable = true)
 |-- Marking: long (nullable = true)
 |-- Sliding_Tackle: long (nullable = true)
 |-- Standing_Tackle: long (nullable = true)
 |-- Aggression: long (nullable = true)
 |-- Reactions: long (nullable = true)
 |-- Attacking_Position: long (nullable = true)
 |-- Interceptions: long (nullable = true)
 |-- Vision: long (nullable = true)
 |-- Composure: long (nullable = true)
 |-- Crossing: long (nullable = true)
 |-- Short_Pass: long (nullable = true)
 |-- Long_Pass: long (nullable = true)
 |-- Acceleration: long (nullable = true)
 |-- Speed: long (nullable = true)
 |-- Stamina: long (nullable = true)
 |-- Strength: long (nullable = true)
 |-- Balance: long (nullable = true)
 |-- Agility: long (nullable = true)
 |-- Jumping: long (nullable = true)
 |-- Heading: long (nullable = true)
 |-- Shot_Power: long (nullable = true)
 |-- Finishing: long (nullable = true)
 |-- Long_Shots: long (nullable = true)
 |-- Curve: long (nullable = true)
 |-- Freekick_Accuracy: long (nullable = true)
 |-- Penalties: long (nullable = true)
 |-- Volleys: long (nullable = true)
 |-- GK_Positioning: long (nullable = true)
 |-- GK_Diving: long (nullable = true)
 |-- GK_Kicking: long (nullable = true)
 |-- GK_Handling: long (nullable = true)
 |-- GK_Reflexes: long (nullable = true)

In [74]:
# Select por nome de coluna
df_select = df_1_spark.select('Name',
                              'Nationality',
                              'Club_Joining',
                              'Height',
                              'Weight',
                              'Age',
                              'Speed',
                              'Reactions')

In [75]:
df_select.show()

22/07/26 14:01:28 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
22/07/26 14:01:28 WARN TaskSetManager: Stage 7 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.

22/07/26 14:01:32 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 7 (TID 5): Attempting to kill Python Worker
+------------------+-----------+------------+------+------+---+-----+---------+
|              Name|Nationality|Club_Joining|Height|Weight|Age|Speed|Reactions|
+------------------+-----------+------------+------+------+---+-----+---------+
| Cristiano Ronaldo|   Portugal|  07/01/2009|185 cm| 80 kg| 32|   92|       96|
|      Lionel Messi|  Argentina|  07/01/2004|170 cm| 72 kg| 29|   87|       95|
|            Neymar|     Brazil|  07/01/2013|174 cm| 68 kg| 25|   90|       88|
|       Luis Suárez|    Uruguay|  07/11/2014|182 cm| 85 kg| 30|   77|       93|
|      Manuel Neuer|    Germany|  07/01/2011|193 cm| 92 kg| 31|   61|       85|
|            De Gea|      Spain|  07/01/2011|193 cm| 82 kg| 26|   56|       88|
|Robert Lewandowski|     Poland|  07/01/2014|185 cm| 79 kg| 28|   82|       88|
|       Gareth Bale|      Wales|  09/02/2013|183 cm| 74 kg| 27|   95|       87|
|Zlatan Ibrahimović|     Sweden|  07/01/2016|195 cm| 95 kg| 35|   74|       85|
|  Thibaut Courtois|    Belgium|  07/26/2011|199 cm| 91 kg| 24|   52|       81|
|    Jérôme Boateng|    Germany|  07/14/2011|192 cm| 90 kg| 28|   81|       84|
|       Eden Hazard|    Belgium|  07/01/2012|173 cm| 74 kg| 26|   87|       85|
|       Luka Modrić|    Croatia|  08/01/2012|174 cm| 65 kg| 31|   71|       88|
|        Mesut Özil|    Germany|  09/02/2013|180 cm| 76 kg| 28|   68|       87|
|   Gonzalo Higuaín|  Argentina|  07/26/2016|184 cm| 92 kg| 29|   81|       86|
|      Thiago Silva|     Brazil|  07/01/2012|183 cm| 79 kg| 32|   76|       84|
|      Sergio Ramos|      Spain|  08/01/2005|183 cm| 75 kg| 31|   78|       82|
|     Sergio Agüero|  Argentina|  07/28/2011|173 cm| 70 kg| 28|   86|       88|
|        Paul Pogba|     France|  08/09/2016|191 cm| 84 kg| 24|   79|       86|
| Antoine Griezmann|     France|  07/29/2014|176 cm| 67 kg| 26|   86|       90|
+------------------+-----------+------------+------+------+---+-----+---------+
only showing top 20 rows

In [76]:
# Filtros
df_select.where((df_1_spark.Age < 25) & (df_1_spark.Speed > 80)).show()

22/07/26 14:01:32 WARN TaskSetManager: Stage 8 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.

22/07/26 14:01:36 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 8 (TID 6): Attempting to kill Python Worker
+--------------------+-----------+------------+------+------+---+-----+---------+
|                Name|Nationality|Club_Joining|Height|Weight|Age|Speed|Reactions|
+--------------------+-----------+------------+------+------+---+-----+---------+
|        Paulo Dybala|  Argentina|  07/01/2015|177 cm| 74 kg| 23|   86|       85|
|         David Alaba|    Austria|  02/10/2010|180 cm| 76 kg| 24|   86|       84|
|       Romelu Lukaku|    Belgium|  07/30/2014|190 cm| 94 kg| 23|   89|       77|
|    Yannick Carrasco|    Belgium|  07/10/2015|180 cm| 66 kg| 23|   89|       83|
|      Raphaël Varane|     France|  07/01/2011|191 cm| 78 kg| 23|   83|       79|
|         Eric Bailly|Ivory Coast|  07/01/2016|187 cm| 77 kg| 22|   83|       75|
|     Raheem Sterling|    England|  07/14/2015|170 cm| 69 kg| 22|   92|       79|
|     Anthony Martial|     France|  09/01/2015|184 cm| 76 kg| 21|   91|       81|
|       Mohamed Salah|      Egypt|  01/26/2014|175 cm| 72 kg| 24|   92|       80|
|          Sadio Mané|    Senegal|  07/01/2016|175 cm| 75 kg| 24|   92|       78|
|              Morata|      Spain|  07/01/2016|189 cm| 85 kg| 24|   86|       80|
|               Lucas|     Brazil|  01/01/2013|172 cm| 72 kg| 24|   91|       75|
|        Serge Aurier|Ivory Coast|  01/26/2012|176 cm| 76 kg| 24|   85|       82|
|     Ousmane Dembélé|     France|  07/01/2016|178 cm| 67 kg| 19|   91|       79|
|Federico Bernarde...|      Italy|  07/01/2011|183 cm| 75 kg| 23|   83|       78|
|    Domenico Berardi|      Italy|  07/01/2012|183 cm| 72 kg| 22|   85|       75|
|     Samu Castillejo|      Spain|  07/01/2015|182 cm| 67 kg| 22|   87|       79|
|       Leon Goretzka|    Germany|  07/02/2013|189 cm| 79 kg| 22|   84|       82|
|      Andrea Belotti|      Italy|  08/17/2015|181 cm| 72 kg| 23|   82|       78|
|     Michy Batshuayi|    Belgium|  07/04/2016|185 cm| 78 kg| 23|   84|       79|
+--------------------+-----------+------------+------+------+---+-----+---------+
only showing top 20 rows

In [77]:
# Agregação
df_select.agg({'Speed':'avg'}).show()

22/07/26 14:01:36 WARN TaskSetManager: Stage 9 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.
+-----------------+
|       avg(Speed)|
+-----------------+
|65.48385262679099|
+-----------------+

In [78]:
# Group By, Agregação e Ordenação
df_select.groupBy('Weight').agg({'Speed':'avg'}).orderBy('avg(Speed)', ascending = False).show()

22/07/26 14:01:37 WARN TaskSetManager: Stage 12 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.
+------+-----------------+
|Weight|       avg(Speed)|
+------+-----------------+
| 49 kg|             85.0|
| 50 kg|             80.5|
| 59 kg|79.34782608695652|
| 56 kg|             77.1|
| 61 kg|75.70833333333333|
| 58 kg|75.47826086956522|
| 62 kg| 75.1592356687898|
| 60 kg|73.97435897435898|
| 57 kg|             73.2|
| 63 kg|73.09895833333333|
| 66 kg|           72.875|
| 65 kg|72.42163355408388|
| 64 kg|71.76530612244898|
| 68 kg|71.35082458770614|
| 67 kg|71.24511930585683|
| 55 kg|           70.625|
| 71 kg|70.52202283849918|
| 69 kg|70.31856540084388|
| 53 kg|             70.0|
| 54 kg|69.66666666666667|
+------+-----------------+
only showing top 20 rows

## User-Defined Functions (UDF)

In [79]:
df_select.describe('Speed').show()

22/07/26 14:05:31 WARN TaskSetManager: Stage 15 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.
+-------+------------------+
|summary|             Speed|
+-------+------------------+
|  count|             17588|
|   mean| 65.48385262679099|
| stddev|14.100614851107773|
|    min|                11|
|    max|                96|
+-------+------------------+

In [80]:
df_select.describe('Age').show()

22/07/26 14:05:49 WARN TaskSetManager: Stage 18 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.
+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|             17588|
|   mean|25.460313850352513|
| stddev| 4.680217413869141|
|    min|                17|
|    max|                47|
+-------+------------------+

In [81]:
# Group By, Agregação e Ordenação
# Média de velocidade por idade
df_select.groupBy('Age').agg({'Speed':'avg'}).orderBy('avg(Speed)', ascending = False).show()

22/07/26 14:06:34 WARN TaskSetManager: Stage 21 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.
+---+------------------+
|Age|        avg(Speed)|
+---+------------------+
| 27| 68.51322751322752|
| 26| 68.45774058577406|
| 25| 68.35245335176226|
| 24|  68.2445987654321|
| 23| 68.19469026548673|
| 22|  67.6219797349961|
| 21| 66.75418060200668|
| 28| 66.62464985994397|
| 29| 66.27536231884058|
| 20|  65.5364238410596|
| 30|  64.6255868544601|
| 19| 64.05378486055777|
| 18| 63.44090056285178|
| 31| 62.92664670658683|
| 17| 62.28025477707006|
| 32| 60.77601410934744|
| 33|60.008361204013376|
| 34| 55.61514195583596|
| 35| 53.25847457627118|
| 36| 47.81761006289308|
+---+------------------+
only showing top 20 rows

> Como calcular a média de velocidade por faixa etária?

In [82]:
# Função para criar faixa etária
def cria_faixa_etaria(age):
    if age < 20:
         return '10–20'
    elif age < 30:
         return '20–30'
    elif age < 40:
        return '30–40'
    else:
        return '40+'

In [83]:
# Cria a UDF
udf_agegroup = udf(lambda z: cria_faixa_etaria(z))

In [84]:
df_select.show()

22/07/26 14:12:52 WARN TaskSetManager: Stage 24 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.

22/07/26 14:12:56 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 24 (TID 17): Attempting to kill Python Worker
+------------------+-----------+------------+------+------+---+-----+---------+
|              Name|Nationality|Club_Joining|Height|Weight|Age|Speed|Reactions|
+------------------+-----------+------------+------+------+---+-----+---------+
| Cristiano Ronaldo|   Portugal|  07/01/2009|185 cm| 80 kg| 32|   92|       96|
|      Lionel Messi|  Argentina|  07/01/2004|170 cm| 72 kg| 29|   87|       95|
|            Neymar|     Brazil|  07/01/2013|174 cm| 68 kg| 25|   90|       88|
|       Luis Suárez|    Uruguay|  07/11/2014|182 cm| 85 kg| 30|   77|       93|
|      Manuel Neuer|    Germany|  07/01/2011|193 cm| 92 kg| 31|   61|       85|
|            De Gea|      Spain|  07/01/2011|193 cm| 82 kg| 26|   56|       88|
|Robert Lewandowski|     Poland|  07/01/2014|185 cm| 79 kg| 28|   82|       88|
|       Gareth Bale|      Wales|  09/02/2013|183 cm| 74 kg| 27|   95|       87|
|Zlatan Ibrahimović|     Sweden|  07/01/2016|195 cm| 95 kg| 35|   74|       85|
|  Thibaut Courtois|    Belgium|  07/26/2011|199 cm| 91 kg| 24|   52|       81|
|    Jérôme Boateng|    Germany|  07/14/2011|192 cm| 90 kg| 28|   81|       84|
|       Eden Hazard|    Belgium|  07/01/2012|173 cm| 74 kg| 26|   87|       85|
|       Luka Modrić|    Croatia|  08/01/2012|174 cm| 65 kg| 31|   71|       88|
|        Mesut Özil|    Germany|  09/02/2013|180 cm| 76 kg| 28|   68|       87|
|   Gonzalo Higuaín|  Argentina|  07/26/2016|184 cm| 92 kg| 29|   81|       86|
|      Thiago Silva|     Brazil|  07/01/2012|183 cm| 79 kg| 32|   76|       84|
|      Sergio Ramos|      Spain|  08/01/2005|183 cm| 75 kg| 31|   78|       82|
|     Sergio Agüero|  Argentina|  07/28/2011|173 cm| 70 kg| 28|   86|       88|
|        Paul Pogba|     France|  08/09/2016|191 cm| 84 kg| 24|   79|       86|
| Antoine Griezmann|     France|  07/29/2014|176 cm| 67 kg| 26|   86|       90|
+------------------+-----------+------------+------+------+---+-----+---------+
only showing top 20 rows

In [85]:
# Aplica a UDF
userDFAgeGroup = df_select.withColumn('AgeGroup', udf_agegroup('age'))

In [86]:
userDFAgeGroup.show()

22/07/26 14:13:16 WARN TaskSetManager: Stage 25 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.

+------------------+-----------+------------+------+------+---+-----+---------+--------+
|              Name|Nationality|Club_Joining|Height|Weight|Age|Speed|Reactions|AgeGroup|
+------------------+-----------+------------+------+------+---+-----+---------+--------+
| Cristiano Ronaldo|   Portugal|  07/01/2009|185 cm| 80 kg| 32|   92|       96|   30–40|
|      Lionel Messi|  Argentina|  07/01/2004|170 cm| 72 kg| 29|   87|       95|   20–30|
|            Neymar|     Brazil|  07/01/2013|174 cm| 68 kg| 25|   90|       88|   20–30|
|       Luis Suárez|    Uruguay|  07/11/2014|182 cm| 85 kg| 30|   77|       93|   30–40|
|      Manuel Neuer|    Germany|  07/01/2011|193 cm| 92 kg| 31|   61|       85|   30–40|
|            De Gea|      Spain|  07/01/2011|193 cm| 82 kg| 26|   56|       88|   20–30|
|Robert Lewandowski|     Poland|  07/01/2014|185 cm| 79 kg| 28|   82|       88|   20–30|
|       Gareth Bale|      Wales|  09/02/2013|183 cm| 74 kg| 27|   95|       87|   20–30|
|Zlatan Ibrahimović|     Sweden|  07/01/2016|195 cm| 95 kg| 35|   74|       85|   30–40|
|  Thibaut Courtois|    Belgium|  07/26/2011|199 cm| 91 kg| 24|   52|       81|   20–30|
|    Jérôme Boateng|    Germany|  07/14/2011|192 cm| 90 kg| 28|   81|       84|   20–30|
|       Eden Hazard|    Belgium|  07/01/2012|173 cm| 74 kg| 26|   87|       85|   20–30|
|       Luka Modrić|    Croatia|  08/01/2012|174 cm| 65 kg| 31|   71|       88|   30–40|
|        Mesut Özil|    Germany|  09/02/2013|180 cm| 76 kg| 28|   68|       87|   20–30|
|   Gonzalo Higuaín|  Argentina|  07/26/2016|184 cm| 92 kg| 29|   81|       86|   20–30|
|      Thiago Silva|     Brazil|  07/01/2012|183 cm| 79 kg| 32|   76|       84|   30–40|
|      Sergio Ramos|      Spain|  08/01/2005|183 cm| 75 kg| 31|   78|       82|   30–40|
|     Sergio Agüero|  Argentina|  07/28/2011|173 cm| 70 kg| 28|   86|       88|   20–30|
|        Paul Pogba|     France|  08/09/2016|191 cm| 84 kg| 24|   79|       86|   20–30|
| Antoine Griezmann|     France|  07/29/2014|176 cm| 67 kg| 26|   86|       90|   20–30|
+------------------+-----------+------------+------+------+---+-----+---------+--------+
only showing top 20 rows

In [87]:
# Group By, Agregação e Ordenação
# Média de velocidade por faixa etária
userDFAgeGroup.groupBy('AgeGroup').agg({'Speed':'avg'}).orderBy('avg(Speed)', ascending = False).show()

22/07/26 14:13:40 WARN TaskSetManager: Stage 26 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.
+--------+------------------+
|AgeGroup|        avg(Speed)|
+--------+------------------+
|   20–30| 67.50301057770545|
|   10–20|63.696576151121604|
|   30–40| 59.62748390708089|
|     40+|37.645161290322584|
+--------+------------------+

In [88]:
# Função para criar faixa de velocidade
def cria_faixa_veloc(speed):
    if speed < 50:
        return 'Baixa Velocidade'
    elif speed < 80:
        return 'Velocidade Média'
    else:
        return 'Alta Velocidade'

In [89]:
# Cria a UDF
udf_speedgroup = udf(lambda z: cria_faixa_veloc(z))

In [90]:
userDFAgeGroup.show()

22/07/26 14:16:56 WARN TaskSetManager: Stage 29 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.
+------------------+-----------+------------+------+------+---+-----+---------+--------+
|              Name|Nationality|Club_Joining|Height|Weight|Age|Speed|Reactions|AgeGroup|
+------------------+-----------+------------+------+------+---+-----+---------+--------+
| Cristiano Ronaldo|   Portugal|  07/01/2009|185 cm| 80 kg| 32|   92|       96|   30–40|
|      Lionel Messi|  Argentina|  07/01/2004|170 cm| 72 kg| 29|   87|       95|   20–30|
|            Neymar|     Brazil|  07/01/2013|174 cm| 68 kg| 25|   90|       88|   20–30|
|       Luis Suárez|    Uruguay|  07/11/2014|182 cm| 85 kg| 30|   77|       93|   30–40|
|      Manuel Neuer|    Germany|  07/01/2011|193 cm| 92 kg| 31|   61|       85|   30–40|
|            De Gea|      Spain|  07/01/2011|193 cm| 82 kg| 26|   56|       88|   20–30|
|Robert Lewandowski|     Poland|  07/01/2014|185 cm| 79 kg| 28|   82|       88|   20–30|
|       Gareth Bale|      Wales|  09/02/2013|183 cm| 74 kg| 27|   95|       87|   20–30|
|Zlatan Ibrahimović|     Sweden|  07/01/2016|195 cm| 95 kg| 35|   74|       85|   30–40|
|  Thibaut Courtois|    Belgium|  07/26/2011|199 cm| 91 kg| 24|   52|       81|   20–30|
|    Jérôme Boateng|    Germany|  07/14/2011|192 cm| 90 kg| 28|   81|       84|   20–30|
|       Eden Hazard|    Belgium|  07/01/2012|173 cm| 74 kg| 26|   87|       85|   20–30|
|       Luka Modrić|    Croatia|  08/01/2012|174 cm| 65 kg| 31|   71|       88|   30–40|
|        Mesut Özil|    Germany|  09/02/2013|180 cm| 76 kg| 28|   68|       87|   20–30|
|   Gonzalo Higuaín|  Argentina|  07/26/2016|184 cm| 92 kg| 29|   81|       86|   20–30|
|      Thiago Silva|     Brazil|  07/01/2012|183 cm| 79 kg| 32|   76|       84|   30–40|
|      Sergio Ramos|      Spain|  08/01/2005|183 cm| 75 kg| 31|   78|       82|   30–40|
|     Sergio Agüero|  Argentina|  07/28/2011|173 cm| 70 kg| 28|   86|       88|   20–30|
|        Paul Pogba|     France|  08/09/2016|191 cm| 84 kg| 24|   79|       86|   20–30|
| Antoine Griezmann|     France|  07/29/2014|176 cm| 67 kg| 26|   86|       90|   20–30|
+------------------+-----------+------------+------+------+---+-----+---------+--------+
only showing top 20 rows

In [91]:
# Aplica a UDF
userDFSpeedGroup = userDFAgeGroup.withColumn('SpeedGroup', udf_speedgroup('speed'))

In [92]:
userDFSpeedGroup.show()

22/07/26 14:17:11 WARN TaskSetManager: Stage 30 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.
+------------------+-----------+------------+------+------+---+-----+---------+--------+----------------+
|              Name|Nationality|Club_Joining|Height|Weight|Age|Speed|Reactions|AgeGroup|      SpeedGroup|
+------------------+-----------+------------+------+------+---+-----+---------+--------+----------------+
| Cristiano Ronaldo|   Portugal|  07/01/2009|185 cm| 80 kg| 32|   92|       96|   30–40| Alta Velocidade|
|      Lionel Messi|  Argentina|  07/01/2004|170 cm| 72 kg| 29|   87|       95|   20–30| Alta Velocidade|
|            Neymar|     Brazil|  07/01/2013|174 cm| 68 kg| 25|   90|       88|   20–30| Alta Velocidade|
|       Luis Suárez|    Uruguay|  07/11/2014|182 cm| 85 kg| 30|   77|       93|   30–40|Velocidade Média|
|      Manuel Neuer|    Germany|  07/01/2011|193 cm| 92 kg| 31|   61|       85|   30–40|Velocidade Média|
|            De Gea|      Spain|  07/01/2011|193 cm| 82 kg| 26|   56|       88|   20–30|Velocidade Média|
|Robert Lewandowski|     Poland|  07/01/2014|185 cm| 79 kg| 28|   82|       88|   20–30| Alta Velocidade|
|       Gareth Bale|      Wales|  09/02/2013|183 cm| 74 kg| 27|   95|       87|   20–30| Alta Velocidade|
|Zlatan Ibrahimović|     Sweden|  07/01/2016|195 cm| 95 kg| 35|   74|       85|   30–40|Velocidade Média|
|  Thibaut Courtois|    Belgium|  07/26/2011|199 cm| 91 kg| 24|   52|       81|   20–30|Velocidade Média|
|    Jérôme Boateng|    Germany|  07/14/2011|192 cm| 90 kg| 28|   81|       84|   20–30| Alta Velocidade|
|       Eden Hazard|    Belgium|  07/01/2012|173 cm| 74 kg| 26|   87|       85|   20–30| Alta Velocidade|
|       Luka Modrić|    Croatia|  08/01/2012|174 cm| 65 kg| 31|   71|       88|   30–40|Velocidade Média|
|        Mesut Özil|    Germany|  09/02/2013|180 cm| 76 kg| 28|   68|       87|   20–30|Velocidade Média|
|   Gonzalo Higuaín|  Argentina|  07/26/2016|184 cm| 92 kg| 29|   81|       86|   20–30| Alta Velocidade|
|      Thiago Silva|     Brazil|  07/01/2012|183 cm| 79 kg| 32|   76|       84|   30–40|Velocidade Média|
|      Sergio Ramos|      Spain|  08/01/2005|183 cm| 75 kg| 31|   78|       82|   30–40|Velocidade Média|
|     Sergio Agüero|  Argentina|  07/28/2011|173 cm| 70 kg| 28|   86|       88|   20–30| Alta Velocidade|
|        Paul Pogba|     France|  08/09/2016|191 cm| 84 kg| 24|   79|       86|   20–30|Velocidade Média|
| Antoine Griezmann|     France|  07/29/2014|176 cm| 67 kg| 26|   86|       90|   20–30| Alta Velocidade|
+------------------+-----------+------------+------+------+---+-----+---------+--------+----------------+
only showing top 20 rows

In [93]:
# Group By, Agregação e Ordenação
# Média de velocidade por grupo de velocidade
userDFSpeedGroup.groupBy('SpeedGroup').agg({'Speed':'avg'}).orderBy('avg(Speed)', ascending = False).show()

22/07/26 14:17:38 WARN TaskSetManager: Stage 31 contains a task of very large size (3929 KiB). The maximum recommended task size is 1000 KiB.
+----------------+------------------+
|      SpeedGroup|        avg(Speed)|
+----------------+------------------+
| Alta Velocidade| 84.59178082191781|
|Velocidade Média| 67.06720183486239|
|Baixa Velocidade|38.496548748921484|
+----------------+------------------+

In [94]:
# Encerra as conexões
pgconn.close()
engine.dispose()

# Fim