# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

## <font color='blue'>Exercícios do Capítulo 5</font>

Esta é uma lista de exercícos desafiadora, mas que irá consolidar seus conhecimentos em manipulação de dados com o Pandas.

Leia cada questão atentamente e coloque em prática suas habilidades analíticas. Consulte a documentação do Pandas se necessário:

https://pandas.pydata.org/docs/reference/frame.html

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.7

In [2]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
#!pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
!pip install -q -U watermark

In [3]:
# Imports
import pandas as pd
import numpy as np

In [4]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

Author: Data Science Academy

pandas: 1.4.2
numpy : 1.22.3

## SQL Join e Junção de Tabelas com Pandas

In [5]:
from IPython.display import Image
Image(url = 'imagens/sql-join.png')

In [6]:
# Dicionário de dados
dados1 = {
        'id_disciplina': ['1', '2', '3', '4', '5'],
        'nome': ['Bob', 'Maria', 'Mateus', 'Ivo', 'Gerson'], 
        'sobrenome': ['Anderson', 'Teixeira', 'Amoedo', 'Trindade', 'Vargas']}

# Criação do dataframe a
df_a = pd.DataFrame(dados1, columns = ['id_disciplina', 'nome', 'sobrenome'])
df_a

  id_disciplina    nome sobrenome
0             1     Bob  Anderson
1             2   Maria  Teixeira
2             3  Mateus    Amoedo
3             4     Ivo  Trindade
4             5  Gerson    Vargas

In [7]:
# Dicionário de dados
dados2 = {
        'id_disciplina': ['4', '5', '6', '7', '8'],
        'nome': ['Roberto', 'Mariana', 'Ana', 'Marcos', 'Maria'], 
        'sobrenome': ['Sampaio', 'Fernandes', 'Arantes', 'Menezes', 'Martins']}

# Criação do dataframe b
df_b = pd.DataFrame(dados2, columns = ['id_disciplina', 'nome', 'sobrenome'])
df_b

  id_disciplina     nome  sobrenome
0             4  Roberto    Sampaio
1             5  Mariana  Fernandes
2             6      Ana    Arantes
3             7   Marcos    Menezes
4             8    Maria    Martins

In [8]:
# Dicionário de dados
dados3 = {
        'id_disciplina': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'id_teste': [81, 75, 75, 71, 76, 84, 95, 61, 57, 90]}

# Criação do dataframe c
df_c = pd.DataFrame(dados3, columns = ['id_disciplina','id_teste'])
df_c

  id_disciplina  id_teste
0             1        81
1             2        75
2             3        75
3             4        71
4             5        76
5             7        84
6             8        95
7             9        61
8            10        57
9            11        90

In [9]:
# Exercício 1 - Faça a concatenação dos dataframes a e b pelas linhas e crie um novo dataframe chamado df_ab_linha

In [10]:
# Exercício 2 - Faça a concatenação dos dataframes a e b pelas colunas e crie um novo dataframe chamado df_ab_coluna

In [11]:
# Exercício 3 - Faça o merge dos dataframes df_ab_linha e df_c usando a coluna id_disciplina

In [12]:
# Exercício 4 - Faça o merge dos dataframes df_ab_linha e df_c pela coluna id_disciplina usando left e right

Merge outer join é a união externa completa que produz o conjunto de todos os registros na Tabela A e na Tabela B, com registros correspondentes de ambos os lados, quando disponíveis. Se não houver correspondência, o lado ausente conterá null.

In [13]:
# Exercício 5 - Faça o outer join entre os dataframes df_a e df_b usando a coluna id_disciplina

In [14]:
# Exercício 6 - O exercício 5 gera valores ausentes. Não deixe isso acontecer ao fazer o merge!

Merge inner join é a junção interna que produz apenas o conjunto de registros que correspondem na Tabela A e na Tabela B.

In [15]:
# Exercício 7 - Faça o merge inner join entre os dataframes df_a e df_a usando a coluna id_disciplina

Merge left join é a junção externa esquerda que produz um conjunto completo de registros da Tabela A, com os registros correspondentes (quando disponíveis) na Tabela B. Se não houver correspondência, o lado direito conterá nulo.

In [16]:
# Exercício 8 - Faça o merge left join entre os dataframes df_a e df_a usando a coluna id_disciplina

In [17]:
# Exercício 9 - O exercício 8 gera valores ausentes. Não deixe isso acontecer ao fazer o merge!

O merge right join é contrário do left join.

In [18]:
# Exercício 10 - Faça o merge right join entre os dataframes df_a e df_a usando a coluna id_disciplina
# Não pernite valores ausentes!

In [19]:
# Exercício 11 - Você percebeu que o item anterior gerou nomes de colunas muito parecidos. Adicione um 
# sufixo para identificar os nomes das colunas. Não permita valores ausentes.

In [20]:
# Exercício 12 - Faça o merge dos dataframes df_a e df_b com base no índice

## FIM